<%= provide(:title, "Welcome to facebook") -%>
<!DOCTYPE html>
<html  ng-app="textInputExample">
<head>
<title>User Page</title>
<link rel="stylesheet" type="text/css" href="page.css">
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.1/angular.min.js"></script>
</head>

<body>
    <div class="content">
	<div class="banner">
	  <div class="menubar">
		<div class="fb_logo">
		<img src="/assets/images.jpeg" height="60px" alt="facebook image"></img>
		</div>
		
		<div class="mb_1">
		<p>Home | <%= link_to "Profile", {controller: 'users', action: 'edit', id: @user.id } -%> | <%= link_to "Logout", logout_path, method: "delete" %> | <%= link_to "delete", {controller: 'users', action: 'destroy'}, data: {confirm: "Are you sure?"}, method: :delete -%>  </p>
		
</div>
</div>
</div>

<h1>Welcome <%= @user.name+" "+@user.lastname -%></h1>


</body>
</html>
